<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organic India</title>
    <!-- favicon -->
    <link rel="icon" href="https://organicindia.com/cdn/shop/files/logo-120x120_2.jpg?v=1743768667">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <div><img src="" alt=""></div>
        <div>
            <!-- <nav>
                 <a href="">Home</a>
            <a href="">Home</a>
            <a href="">Home</a>
            <a href="">Home</a>
            <a href="">Home</a>
              </nav> -->

            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <a href="Login">login</a>
            <i class="fab fa-searchengin"></i>
            <i class="fas fa-cart-plus"></i>
            <i class="fa-solid fa-bars"></i>

        </div>
    </header>


    <main>
        <section id="herosection">
            <div>
                <img src="" alt="">
            </div>
        </section> <!--end of herosection-->


        <section id="product">

            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h4>SALE</h4>
            </div>

            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h4>SALE</h4>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h4>SALE</h4>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h4>SALE</h4>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h4>SALE</h4>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h4>SALE</h4>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h4>SALE</h4>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h4>SALE</h4>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h4>SALE</h4>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h4>SALE</h4>
            </div>

        </section> <!--end of product-->


        <section id="products">

            <div>
                <h2>Trending Now !</h2>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
                <h4></h4>
                <p></p>
                <button>ADD to Cart</button>
            </div>
            <div>
                <img src="" alt="">
                <h4></h4>
                <p></p>
                <button>ADD to Cart</button>
            </div>
            <div>
                <img src="" alt="">
                <h4></h4>
                <p></p>
                <button>ADD to Cart</button>
            </div>
            <div>
                <img src="" alt="">
                <h4></h4>
                <p></p>
                <button>ADD to Cart</button>
            </div>

        </section> <!--end of products-->


        <section is="tulsi">
             <div>
                <img src="" alt="">
             </div>
             <div>
                  <div>
                    <h2>GET THE ‘TULSI’ WELLNESS EDGE</h2>
                  </div>
                  <div>
                    <img src="" alt="">
                  </div>
                  <div>
                    <h5>GUARD AGAINST COUGH, COLD & POLLUTION</h5>
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                  <div>
                    <img src="" alt="">
                  </div>
                  <div>
                    <h5>GUARD AGAINST COUGH, COLD & POLLUTION</h5>
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                  <div>
                    <img src="" alt="">
                  </div>
                  <div>
                    <h5>GUARD AGAINST COUGH, COLD & POLLUTION</h5>
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
             </div>
        </section> <!--end of tulsi-->


        <section id="healthy">
              <div>
                <h2>HEALTHY CONSCIOUS LIVING</h2>
                <p>Healthy Conscious Living includes conscious business practices to ensure our impact on our world and communities is a positive one. At the foundation of ORGANIC INDIA’s products, company, and sourcing is regenerative agriculture that not only sustains but replenishes the earth; fair trade practices that support and honour farmer partners with equitable wages, health care, and ongoing organic agricultural training; and a LEED Platinum certified production facility that is a marvel of top-tier sustainable design, construction, and operations. This all culminates in the creation of Organic, Non-GMO herbal teas and supplements that support the health of the population, the vibrancy of the planet, and the livelihood of communities in India.</p>
                <button>SHOP NOW</button>
              </div>
              <div> 
                <img src="" alt="">
              </div>
        </section> <!--end of healthy-->


        <section id="review">
            <div>
             <h2></h2>
             <img src="" alt="">
             <p></p>
             <h2></h2>
            </div>
        </section> <!--end of review-->







    </main>

    <footer>

        <div>
            <ul>
                <li>Footer</li>
                <li>Footer</li>
                <li>Footer</li>
                <li>Footer</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Footer</li>
                <li>Footer</li>
                <li>Footer</li>
                <li>Footer</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Footer</li>
                <li>Footer</li>
                <li>Footer</li>
                <li>Footer</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Footer</li>
                <li>Footer</li>
                <li>Footer</li>
                <li>Footer</li>
            </ul>
        </div>
        <div>
            <p>Copyright &copy;  2024 Organic India Pvt. Ltd.</p>
        </div>

    </footer>


    <!-- TASK -->

    <!-- create the layout of below websites using only html and add the icons 
    1)https://organicindia.com/
    2)https://smartyschool.stylemixthemes.com/kindergarten-two/ -->

</body>

</html>